

.body {
  background-image: url(images/blur-nature-green-park-with-bokeh-sun-light-abstract-background-copy-space-travel-adventure-environment-concept-vintage-tone-filter-color-style.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    transition: border-width 0.6s linear;
}
.transparent {
    background-image: url(images/blur-nature-green-park-with-bokeh-sun-light-abstract-background-copy-space-travel-adventure-environment-concept-vintage-tone-filter-color-style.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    transition: border-width 0.6s linear;
}

.notransparent.transparent {
  background: #000000;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  transition: border-width 0.6s linear;
  opacity: 50%;
  size: relative;
}
#first {
  width: 100px;
  height: 100px;
  background: red;
  overflow: hidden;
}
#progress-bar {
    margin-top: 1em;
  }
  h1 { font-family: Optima; font-size: 30px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } 

  :root {
    --form-control-color: rgb(255, 255, 255);
    
  }

  .form-control {
    font-family: Optima;
    font-size: 1rem;
    font-weight: bold;
    line-height: 0.5;
    display:block;
    grid-template-columns: 0em auto;
    gap: 0em;
    
  }

  .form-control + .form-control {
    margin-top: 1em;
    
  }

  .form-control:focus-within {
    color: var(--form-control-color);
    
  }

  input[type="radio"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: var(--form-background);
    /* Not removed via appearance */
    margin: 10;
    margin-right: auto;
    margin-left: auto;

    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    transform: translateY(0em);

    display: grid;
    place-content: center;
  }

  input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    /* Windows High Contrast Mode */
    background-color: CanvasText;
    
  }

  input[type="radio"]:checked::before {
    transform: scale(1);
  }

  input[type="radio"]:focus {
    outline: max(0px, 0.15em) solid currentColor;
    outline-offset: max(0px, 0.15em);
  }
  .Outline { 
      color: white;
      text-shadow:
      /* Outline */
      -1px -1px 0 #000000,
      1px -1px 0 #2e2e2e,
      -1px 1px 0 #474747,
      1px 1px 0 #636363,  
      -2px 0 0 hsl(0, 1%, 31%),
      2px 0 0 #535353,
      0 2px 0 #2e2e2e,
      0 -2px 0 #252525; /* Terminate with a semi-colon */
  }
  .height{
   height: 100vh;
   
  }
  .Outline2 { 
      color: #377eda;
      text-shadow:
      /* Outline */
      -1px -1px 0 #000000
      ; /* Terminate with a semi-colon */
  }
  .height{
   height: 100vh;
   
  }
  

  .search{
  position: auto;
  
  box-shadow: 0 0 40px rgba(0, 0, 0, 0);
    
  }

  .search input{

   height: 30px;
   width: 500px;
   text-indent: 0px;
   border: 2px solid #d6d4d4;


  }


  .search input:focus{
    width: 500px;
   box-shadow: none;


  }

  .search .fa-search{
    width: auto;
   position: absolute;
   top: 20px;
   left: 16px;

  }

  .search button{
    
    text-shadow: #d6d4d4;
    -webkit-text-fill-color: #377eda;
    font-variant-east-asian:jis04;
   position: relative;
   top: auto;
   right: auto;
   height: 50px;
   width: 500px;
   border-color: #d6d4d4;
   background: #377eda;
  }
  @import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@900&display=swap');

  header {
    height: 200vh;
  }
  
  .container {
    /* hide fixed overflow contents */
    clip: rect(0, auto, auto, 0);
  
    /* does not work if overflow = visible */
    overflow: hidden;
  
    /* only works with absolute positioning */
    position: absolute;
  
    /* Make sure containers are full-width and height */
    height: 100vh;
    left: 0;
    width: 100%;
    
    
    /* safari hack */
    -webkit-mask-image: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 100%);
  }
  
  .container_solid {
    background: white;
    
    /* position this container at the top of its parent element */
    top: 0;
  }
  
  .title_wrapper {
    position: fixed;
    display: block;  
    margin: auto;
    width: 100%;
    /* center the text wrapper vertically */
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  
  .title_wrapper h1 {
    text-align: center;
    font-size: 64px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Fraunces', serif;
    font-weight: 900;
  }
  
  .container_solid .title_wrapper h1 {
    /* the text background */
    background: url(images/pexels-photo.jpg);
    background-size: 100vw auto;
    background-position: center;
    
    /* clip the text is possible */
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    
    /* fallback text color */
    color: black;
  }
  
  .container_image {
    /* Grab a free image from unsplash */
    background-image: url(images/pexels-photo.jpg);
    background-size:100vw auto;
    background-position: center;
    background-attachment: fixed;
    
    /* position the second container below the first container */
    top: 100vh;
  }
  
  .container_image .title_wrapper h1 {
    color: white;
  }
  
  section {
    min-height: 100vh;
    padding: 2em;
    margin: auto;
    max-width: 800px;
  }
  
  section h2 {
    font-family: 'Fraunces', serif;
  }
  
  section p {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  }