<center>
  <title>Youtube Analyzer</title>
  <font class="h1">
<body style="background-color: #377eda">
  <h1 class="Outline"><font color="White">Youtube Analyzer</font></h1></body></font>
  <hr>
  <h2 class="Outline"><font color="White">データ分析道具</font></h2>
  <hr>
  <a href="{% url 'ml' %}">マシーンラーニング道具</a>
<hr>
  <h2 class="Outline"><font color="White">今日のトップ動画を探索しよう！</font></h2>
  <hr>
  <h4 class="Outline"><font color="White">Youtube Analyzerが<br>“いいね”と視聴による現在のトップ動画を表示します</font></h4>
  {{div| safe}}

</datalist>
  <div class="container" background="White"> 
    <div class="row height d-flex justify-content-center align-items-center">
      <div class="col-md-8">
        <div class="search">
          <i class="fa fa-search"></i>
          
          <form action="{% url 'graphresults' %}" method="get">
          
          </div>
          </div>
          <div>
          
          <div>
            <p class="Outline"><font color="White">並び:</font></p>
          </div>
          <div>
          <input type="radio" id="views" name="r" value="Views">
          <label class="form-control" for="views"><font class="Outline" color="White">視聴</font></label><br>
          <input type="radio" id="likes" name="r" value="Likes">
          <label class="form-control" for="css"><font class="Outline" color="White">いいね</font></label><br>
          </div>
          <select style="width: 500px; height: 30px" name="s" list="Countries" placeholder="Select a Country">
            <datalist id="Countries">
              <option value = "" >国を選択してください</option>
              <option value = "us" >米国</option>
              <option value = "jp" >日本</option>
              <option value = "kr" >韓国</option>
              </datalist>
              </select>
              <br>
          <select style="width: 500px; height: 30px" name="p" list="Categories" placeholder="Select a Category">
            <datalist id="Categories">
              <option value = "" >カテゴリーを選択してください</option>
              <option value = "1" >映画とアニメーション</option>
              <option value = "2" >自動車</option>
              <option value = "10" >音楽</option>
              <option value = "15" >ペットと動物</option>
              <option value = "17" >スポーツ</option>
              </datalist>
              </select>
          <div class="search">
            <div class="search">
              <input name="q" type="text"  placeholder="探索項目をここに入力してください">
              </div>
          <button  type="submit" value="CLICK" style="background-color: white"><font style="color: #377eda"><b>探索</b></font></form>
        
      </div>
      <hr>
  <h2 class="Outline"><font color="White">いいねとコメント数を見積もる</font></h2>
  <hr>
  <h4 class="Outline"><font color="White">Youtube Analyzerが<br>指定された視聴数によって、いいねとコメント数の見積もりを表示します。</font></h4>
  <form action="{% url 'data1' %}" method="get">
    <div class="search">
      <input name="m" type="text"  placeholder="視聴数を入力してください">
      </div>
      <div class="search">
        <button  type="submit" value="CLICK" style="background-color: white"><font style="color: #377eda"><b>計算</b></font></form>
      
    </div>
   
      <hr>
    
    <h5><font color="White">*情報が足りなければ、いいねの数は０になる可能性あります.*</font></h5>
    <h5><font color="White">**    <h5><font color="White">*情報が足りなければ、あるカテゴリーの動画数は０になる可能性あります.*</font></h5>
    .**</font></h5>
  </font>

  <style>@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");


    #progress-bar {
      margin-top: 1em;
    }
    h1 { font-family: Optima; font-size: 30px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } 

    :root {
      --form-control-color: rgb(255, 255, 255);
      
    }

    .form-control {
      font-family: Optima;
      font-size: 1rem;
      font-weight: bold;
      line-height: 0.5;
      display:block;
      grid-template-columns: 0em auto;
      gap: 0em;
      
    }

    .form-control + .form-control {
      margin-top: 1em;
      
    }

    .form-control:focus-within {
      color: var(--form-control-color);
      
    }

    input[type="radio"] {
      /* Add if not using autoprefixer */
      -webkit-appearance: none;
      /* Remove most all native input styles */
      appearance: none;
      /* For iOS < 15 */
      background-color: var(--form-background);
      /* Not removed via appearance */
      margin: 10;
      margin-right: auto;
      margin-left: auto;

      font: inherit;
      color: currentColor;
      width: 1.15em;
      height: 1.15em;
      border: 0.15em solid currentColor;
      border-radius: 50%;
      transform: translateY(0em);

      display: grid;
      place-content: center;
    }

    input[type="radio"]::before {
      content: "";
      width: 0.65em;
      height: 0.65em;
      border-radius: 50%;
      transform: scale(0);
      transition: 120ms transform ease-in-out;
      box-shadow: inset 1em 1em var(--form-control-color);
      /* Windows High Contrast Mode */
      background-color: CanvasText;
      
    }

    input[type="radio"]:checked::before {
      transform: scale(1);
    }

    input[type="radio"]:focus {
      outline: max(0px, 0.15em) solid currentColor;
      outline-offset: max(0px, 0.15em);
    }
    .Outline { 
        color: white;
        text-shadow:
        /* Outline */
        -1px -1px 0 #000000,
        1px -1px 0 #2e2e2e,
        -1px 1px 0 #474747,
        1px 1px 0 #636363,  
        -2px 0 0 hsl(0, 1%, 31%),
        2px 0 0 #535353,
        0 2px 0 #2e2e2e,
        0 -2px 0 #252525; /* Terminate with a semi-colon */
    }
    .height{
     height: 100vh;
     
    }
    .Outline2 { 
        color: #377eda;
        text-shadow:
        /* Outline */
        -1px -1px 0 #000000
        ; /* Terminate with a semi-colon */
    }
    .height{
     height: 100vh;
     
    }
    

    .search{
    position: auto;
    
    box-shadow: 0 0 40px rgba(0, 0, 0, 0);
      
    }

    .search input{

     height: 30px;
     width: 500px;
     text-indent: 0px;
     border: 2px solid #d6d4d4;


    }


    .search input:focus{
      width: 500px;
     box-shadow: none;


    }

    .search .fa-search{
      width: auto;
     position: absolute;
     top: 20px;
     left: 16px;

    }

    .search button{
      
      text-shadow: #d6d4d4;
      -webkit-text-fill-color: #377eda;
      font-variant-east-asian:jis04;
     position: relative;
     top: auto;
     right: auto;
     height: 50px;
     width: 500px;
     border-color: #d6d4d4;
     background: #377eda;
    }</style>


    <script>
      function updateProgress(progressBarElement, progressBarMessageElement, progress) {
        progressBarElement.style.width = progress.percent + "%";
        progressBarMessageElement.innerHTML = progress.current + ' of ' + progress.total + ' processed.';
      }
      
      var trigger = document.getElementById('progress-bar-trigger');
      trigger.addEventListener('click', function(e) {
        var bar = document.getElementById("progress-bar");
        var barMessage = document.getElementById("progress-bar-message");
        for (var i = 0; i < 11; i++) {
          setTimeout(updateProgress, 500 * i, bar, barMessage, {
            percent: 10 * i,
            current: 10 * i,
            total: 100
          })
        }
      })
      <\script>