
<header>

  <!-- First container -->
  <div class="container container_solid">
    <div class="title_wrapper">
      <h1>Youtube Analyzer</h1>
    </div>
  </div>

  <!-- Second container -->
  <div class="container container_image" aria-hidden="true">
    <div class="title_wrapper">
      <h1 class="Outline">Youtube Analyzer</h1>
    </div>
  </div>

</header>



<center>
  
  <div class="transparent">
  <font class="h1">
  <h2 class="Outline"><font color="White">今日のトップ動画を探索しよう！</font></h2>
  <hr>
  <h3 class="Outline"><font color="White">Youtube Analyzerが<br>高評価と再生数による今日のトップ動画を表示します</font></h3>
  {{div| safe}}
    <div class="row height d-flex justify-content-center align-items-center">
      <div class="col-md-8">
        <div class="search">
          <i class="fa fa-search"></i>
          
          <form action="{% url 'graphresults' %}" method="get">
          
          </div>
          </div>
          <div>
          
          <div>
            <p class="Outline"><font color="White">並び替え:</font></p>
          </div>
          <div>
          <input type="radio" id="views" name="r" value="Views" checked="true">
          <label class="form-control" for="views"><font class="Outline" color="White">再生数</font></label><br>
          <input type="radio" id="likes" name="r" value="Likes">
          <label class="form-control" for="css"><font class="Outline" color="White">高評価</font></label><br>
          </div>
          <select style="width: 500px; height: 30px" name="s" list="Countries" placeholder="Select a Country">
            <datalist id="Countries">
              <option value = "" >国を選択してください</option>
              <option value = "us" >米国</option>
              <option value = "jp" >日本</option>
              <option value = "kr" >韓国</option>
              </datalist>
              </select>
              <br>
          <select style="width: 500px; height: 30px" name="p" list="Categories" placeholder="Select a Category">
            <datalist id="Categories">
              <option value = "" >カテゴリーを選択してください</option>
              <option value = "1" >映画とアニメーション</option>
              <option value = "2" >自動車</option>
              <option value = "10" >音楽</option>
              <option value = "15" >ペットと動物</option>
              <option value = "17" >スポーツ</option>
              </datalist>
              </select>
          <div class="search">
            <div class="search">
              <input name="q" type="text"  placeholder="検索するタイトルのキーワードを入力してください">
              </div>
          <button  type="submit" value="CLICK" style="background-color: white"><font style="color: #377eda"><b>探索</b></font></form>
        
      </div>
      <hr>
  <h2 class="Outline"><font color="White">高評価とコメント数を予測します</font></h2>
  <hr>
  <h4 class="Outline"><font color="White">Youtube Analyzerが<br>指定された再生数によって、高評価とコメント数の予測を表示します。</font></h4>
  <form action="{% url 'data1' %}" method="get">
    <div class="search">
      <input name="m" type="text"  placeholder="再生数を入力してください">
      </div>
      <div class="search">
        <button  type="submit" value="CLICK" style="background-color: white"><font style="color: #377eda"><b>計算</b></font></form>
        </div></div>
    </div>
<hr>
<h5 style="background-color: black"><font color="White">*情報が足りなければ、検索結果は０になる可能性あります.*</font></h5>
</font>
{% load static %}
<link rel="stylesheet" href="{% static 'Analysis/style.css' %}">
</div>
</div>
</div>
  <style>@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");


    </style>


    <script>
      function updateProgress(progressBarElement, progressBarMessageElement, progress) {
        progressBarElement.style.width = progress.percent + "%";
        progressBarMessageElement.innerHTML = progress.current + ' of ' + progress.total + ' processed.';
      }
      
      var trigger = document.getElementById('progress-bar-trigger');
      trigger.addEventListener('click', function(e) {
        var bar = document.getElementById("progress-bar");
        var barMessage = document.getElementById("progress-bar-message");
        for (var i = 0; i < 11; i++) {
          setTimeout(updateProgress, 500 * i, bar, barMessage, {
            percent: 10 * i,
            current: 10 * i,
            total: 100
          })
        }
      })
      </script>